sublime/Theme\ -\ Monokai\ Pro.sublime-settings
.config/sublime-text/Local
.config/sublime-text/Packages
.config/sublime-text/Backup
.config/sublime-text/Installed*
*~
*history*
*History*
*HISTORY*
*license*
*License*
*LICENSE*
